:root {
  --card-margin: 10px;
  --card-height: 130px;
  --container-width: 1200px;
  --cols: 7;
  --rows: 4;
  --max-images: 60;
  --max-width: calc(var(--container-width) + (2 * var(--cols)) * var(--card-margin));
  --max-height: calc(var(--rows) * ((var(--card-height) + var(--card-margin) * 2)));
  --light-grey: #eee;
  --mid-light-grey: #ccc;
  --mid-grey: #aaa;
  --dark-grey: #666;
  --darker-grey: #575768;
  --deep-grey: #36363f;
  --alert-color: rgb(225, 0, 55);
}

html {
  touch-action: manipulation;
}

body {
	margin: 50px;
	box-sizing: border-box;
  background-color: var(--deep-grey);
  font-family: Raleway;
  scrollbar-color: var(--dark-grey) var(--dark-grey);
  scrollbar-width: 15px;
}

.card-container::-webkit-scrollbar {
  width: 15px;
}

.card-container::-webkit-scrollbar-track {
  background: var(--mid-light-grey);
}

.card-container::-webkit-scrollbar-thumb {
  background-color: var(--mid-grey);
  border-radius: 3px;
  border: 2px var(--mid-grey);
  cursor: pointer;
}

.heading {
  color: #fff;
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  background: inherit;
  font-size: 1rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

/****************/
/* Total images */
/****************/

.total-images {
  color: #fff;
  text-align: center;
  background: var(--darker-grey);
  width: 3rem;
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  padding: 3px 6px;
  border: 1px solid transparent;
}

.total-images + label {
  position: absolute;
  font-size: 1rem;
}

.total-images + label::after {
  content: '';
}

.total-images.error + label {
  transform: translate(-50px, 45px);
}

.total-images.overload + label {
  transform: translate(-70px, 45px);
}

.total-images.error + label::after {
  color: var(--alert-color);
  content: 'Error';
}

.total-images.overload + label::after {
  color: var(--alert-color);
  content: 'Too many!';
}

.total-images.error,
.total-images.overload {
  background: #642e2e;
  border: 1px solid var(--alert-color);
}

.total-images:disabled {
  color: #b2b2c2;
  pointer-events: none;
}

/********/
/* Card */
/********/

.card-container {
  margin: 0 auto 30px auto;
  padding: 5px;
  max-width: var(--max-width);    
  max-height: var(--max-height);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  background: var(--light-grey);
  box-shadow: 0 20px 20px -5px #000;
}

.card {
  width: calc(100% / var(--cols) - var(--card-margin) * 2);
  height: var(--card-height);
  margin: var(--card-margin);
  display: initial;
  background-size: auto;
  background-position: center;
  box-shadow: 0 15px 10px -10px #33333366;
  outline: 3px solid transparent;
  /* transition: box-shadow 0.3s cubic-bezier(.75,-0.5,0,1.75); */
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow: 0 20px 15px -10px #33333399;
  cursor: pointer;
  outline: 3px solid #fff;
  transition: all 0.2s ease;
  transform: translateY(-1px);
}

.card.hidden {
  display: none;
}

.card::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.status {
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 0 30px 0;
  opacity: 1;
  font-size: 1.125rem;
  transition: opacity 0.3s ease;
}

.status.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1rem;
  color: var(--mid-light-grey);
  text-align: center;
}

footer > a {
  color: var(--mid-light-grey);
  transition: all 0.2s ease;
}

footer > a:hover {
  color: white;
  transition: all 0.2s ease;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/*****************/
/* Media queries */
/*****************/

@media only screen and (max-width: 1200px) {
  .card {
    --cols: 6;
  }
}

@media only screen and (max-width: 950px) {
  .card {
    --cols: 5;
  }
}

@media only screen and (max-width: 750px) {
  .card {
    --cols: 4;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    --cols: 3;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    --cols: 2;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    --cols: 1;
  }
}