:root {
  --card-margin: 5px;
  --card-height: 110px;
  --container-width: 800px;
  --cols: 6;
  --rows: 4;
  --max-images: 48;
  --max-width: calc(var(--container-width) + (2 * var(--cols)) * var(--card-margin));
  --max-height: calc(var(--rows) * ((var(--card-height) + var(--card-margin) * 2)));
  --light-grey: #eee;
  --dark-grey: #666;
  --deep-grey: #333;
}

body {
	margin: 20px;
	box-sizing: border-box;
  background-color: var(--deep-grey);
  font-family: Raleway;
  scrollbar-color: var(--dark-grey) var(--dark-grey);
  scrollbar-width: 15px;
}

.card-container::-webkit-scrollbar {
  width: 15px;
}

.card-container::-webkit-scrollbar-track {
  background: black;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 3px;
  border: 2px var(--dark-grey);
  cursor: pointer;
}

.heading {
  color: #fff;
  max-width: var(--max-width);
  margin: 30px auto 0 auto;
  text-align: center;
  background: inherit;
  font-size: 1rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

.total-images {
  color: #fff;
  text-align: center;
  background: var(--deep-grey);
  width: 3rem;
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  padding: 3px 6px;
}

.card-container {
  margin: 0 auto 30px auto;
  padding: 5px;
  max-width: var(--max-width);    
  max-height: var(--max-height);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  background: var(--light-grey);
}

.card {
  width: calc(100% / var(--cols) - var(--card-margin) * 2);
  height: var(--card-height);
  margin: var(--card-margin);
  object-fit: contain;    
  object-position: 50% 50%;
  box-shadow: 0 15px 10px -10px #33333366;
  outline: 2px solid transparent;
  transition: all 0.3s cubic-bezier(.75,-0.5,0,1.75);
}

.card::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.card:hover {
  box-shadow: 0 20px 15px -10px #33333399;
  cursor: pointer;
  outline: 2px solid #fff;
  transition: all 0.3s cubic-bezier(.75,-0.5,0,1.75);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.status {
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 0 10px 0;
  opacity: 1;
  font-size: 1.125rem;
  transition: opacity 0.3s ease;
}

.status.hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*****************/
/* Media queries */
/*****************/

@media only screen and (max-width: 800px) {
  .card {
    --cols: 5;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    --cols: 4;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    --cols: 3;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    --cols: 2;
  }
}

@media only screen and (max-width: 250px) {
  .card {
    --cols: 1;
  }
}